.main {
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 100%, 50%);
  color: white;
  border-radius: 2vw;
  
}
.heading {
  font-size: 4vw;

}

.under {
  height: 0.5vw;
  background-color: white;
  margin-bottom: 1vw;
}